@import url("https://fonts.googleapis.com/css2?family=Kalam&display=swap");
.quotes {
  margin-bottom: 1.875rem;
  background-color: #efefef;
  width: 90%;
  margin: auto;
  padding: 0.625rem 2.5rem;
  border-radius: 0.375rem;
  margin-bottom: 1.25rem;
  .quote {
    font-family: "Kalam", cursive;
    font-size: 1.25rem;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
  }
}
.title {
  font-family: "Kalam", cursive;
  font-weight: 900;
  font-size: 1.25rem;
  background-color: #efefef;
  width: fit-content;
  padding: 0.9375rem;
  border-radius: 6px 6px 0px 0px;
  margin: auto;
  margin-top: 1.5625rem;
}
